a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp10b96d19{ color:#A01FCB; text-decoration: underline} 
		a.wsp10b96d19:visited{ color:#800080; text-decoration: underline} 
		a.wsp10b96d19:active{ color:#8018CB; text-decoration: underline} 
		a.wsp10b96d19:hover{ color:#E3B4F3; text-decoration: underline} 
#menu_33b4fd2e a { text-decoration: none; }
#menu_33b4fd2e_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_33b4fd2e_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_33b4fd2e_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_33b4fd2e_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_33b4fd2e_entry:hover span { color:#FFFFFF !important; }
		.menu_33b4fd2e_mainMenuEntry { text-align: center; }
		.menu_33b4fd2e_mainMenuEntry:hover {	background-color:#282828; }
		.menu_33b4fd2e_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_33b4fd2e .mobileEntry { display: none; } 
		#menu_33b4fd2e .normalEntry { display: block; } 
		#menu_33b4fd2e_menualignmentwrapper{ width:226px; left: calc(100% - 226px);  } 
		@media only screen and (max-width:650px) { 
			#menu_33b4fd2e .mobileEntry { display: block; } 
			#menu_33b4fd2e .normalEntry { display: none; } 
			#menu_33b4fd2e_menualignmentwrapper { width:37px; left: calc(100% - 37px);  } 
		}
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_72b63364 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_49eb412b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFFFF;  }
#container_49eb412b_padding { margin: 10px; display: block;  }
#container_3dbc5511 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_3dbc5511_padding { margin: 10px; display: block;  }
#button_144c238e { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 0px 0px 20px;height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2E2E2E; font-weight:bold;  }
#container_4a4b29ab { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_4a4b29ab_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_33b4fd2e { vertical-align: bottom; position:relative; display: inline-block; width:300px; height:38px; text-align:left; background:none;  }
#menu_33b4fd2e_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:80px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle6 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#A8A8A8; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:67px; height:38px; left:80px;  }
.menustyle4 { position:absolute; width:79px; height:38px; left:147px;  }
#container_75b1c0d3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:308px; background-color:#FFFFFF; background-image: url(rc_images/e5c8dda85ef76682f7aee87713a093f5.png); background-position:center center; background-repeat:repeat-x;  }
#container_75b1c0d3_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle9 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
#container_320ee2cb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_320ee2cb_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4faf1adb { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background:none;  }
#container_4faf1adb_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#6D5757; line-height: 1.5;  }
.textstyle13 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#6D5757; font-weight:bold; line-height: 1.5;  }
#container_10809333 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_10809333_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
.textstyle15 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; line-height: 1.5;  }
.textstyle16 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-style:italic; font-weight:bold; line-height: 1.5;  }
#container_4bb570ca { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_4bb570ca_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
@media only screen and (max-width: 650px)
{
		#menu_33b4fd2e { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_144c238e * span { font-size:12pt;  }
}
