a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp10b96d19{ color:#A01FCB; text-decoration: underline} 
		a.wsp10b96d19:visited{ color:#800080; text-decoration: underline} 
		a.wsp10b96d19:active{ color:#8018CB; text-decoration: underline} 
		a.wsp10b96d19:hover{ color:#E3B4F3; text-decoration: underline} 
#menu_15070e93 a { text-decoration: none; }
#menu_15070e93_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_15070e93_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_15070e93_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_15070e93_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_15070e93_entry:hover span { color:#FFFFFF !important; }
		.menu_15070e93_mainMenuEntry { text-align: center; }
		.menu_15070e93_mainMenuEntry:hover {	background-color:#282828; }
		.menu_15070e93_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_15070e93 .mobileEntry { display: none; } 
		#menu_15070e93 .normalEntry { display: block; } 
		#menu_15070e93_menualignmentwrapper{ width:226px; left: calc(100% - 226px);  } 
		@media only screen and (max-width:650px) { 
			#menu_15070e93 .mobileEntry { display: block; } 
			#menu_15070e93 .normalEntry { display: none; } 
			#menu_15070e93_menualignmentwrapper { width:37px; left: calc(100% - 37px);  } 
		}
#button_323ee83 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:150px; height:40px; background-color:#FFFFFF;  }
#button_323ee83:hover { background-color:#DFDFDF;  }
#button_323ee83:hover span { color:#FFFFFF; }
#button_146ea582 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:150px; height:40px; background-color:#FFFFFF;  }
#button_146ea582:hover { background-color:#DFDFDF;  }
#button_146ea582:hover span { color:#000000; }
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_a8bef60 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_29ee7549 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFFFF;  }
#container_29ee7549_padding { margin: 10px; display: block;  }
#container_23dd7d16 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_23dd7d16_padding { margin: 10px; display: block;  }
#button_8272807 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 0px 0px 20px;height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2E2E2E; font-weight:bold;  }
#container_61f69dfd { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:60px; background:none;  }
#container_61f69dfd_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_15070e93 { vertical-align: bottom; position:relative; display: inline-block; width:300px; height:38px; text-align:left; background:none;  }
#menu_15070e93_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:80px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle6 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#A8A8A8; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:67px; height:38px; left:80px;  }
.menustyle4 { position:absolute; width:79px; height:38px; left:147px;  }
#container_7b56f8c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:406px; background-color:#FFFFFF; background-image: url(rc_images/e5c8dda85ef76682f7aee87713a093f5.png); background-position:center left; background-repeat:repeat-x;  }
#container_7b56f8c2_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle9 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle10 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2F2F2F; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2B2B2B; font-weight:bold;  }
#container_77363bda { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_77363bda_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_1da729e9 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background:none;  }
#container_1da729e9_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#6D5757; line-height: 1.5;  }
.textstyle14 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#6D5757; font-style:italic; font-weight:bold; line-height: 1.5;  }
.textstyle15 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#6D5757; font-weight:bold; line-height: 1.5;  }
.textstyle16 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
@media only screen and (max-width: 650px)
{
		#menu_15070e93 { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_8272807 * span { font-size:12pt;  }
}
